/* Use your own code or past solution for Great Idea Web Page CSS here! */

* {
  max-width: 1905px;
  /*border: 1px solid black;*/
  box-sizing: border-box;
}

nav {
  width: 1050px;
  margin: 1% auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  color: grey;
  margin: 0% 8.5% 0% 0%;
  text-decoration: none;
}

header {
  width: 1050px;
  margin: 3.5% auto;
  display: flex;
}

.head-h1 {
  height: 50%;
  margin: 5% 24.4%;
  padding: 0% 0% 4% 0%;
  text-align: center;
}

.head-h1 button {
  width: 90%;
  border: 1px solid black;
  background-color: white;
}

.main-section {
  width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.middle-img {
  width: 100%;
}

.main-container {
  width: 30%;
  margin: 1% 0% 1% 0%;
}

.contact {
  width: 1050px;
  margin: 1.5% auto;
}

footer {
  width: 1050px;
  margin: 1.5% auto;
  text-align: center;
}

@media (max-width: 800px) {
  nav {
    width: auto;
  }
  header {
    width: auto;
  }
  .head-img {
    display: none;
  }
  .main-section {
    width: auto;
    margin: 0% 5%;
  }
  .contact {
    width: auto;
    margin: 0% 5%;
  }
  footer {
    width: auto;
  }
}

@media (max-width: 500px) {
  .navigation {
    flex-direction: column-reverse;
  }
  .navigation a {
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 2% 0% 2% 0%;
    border-bottom: 1px solid grey;
  }
  .head-h1 {
    margin: auto;
  }
  .head-img {
    display: none;
  }
  .main-section {
    width: auto;
    margin: 0% 5%;
    flex-direction: column;
  }
  .main-container {
    width: auto;
  }
  .contact {
    width: auto;
    margin: 0% 5%;
  }
  footer {
    width: auto;
  }
}
