/* Use your own code or past solution for Great Idea Web Page CSS here! */

* {
    max-width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

nav {
    width: 55%;
    margin: 0px auto;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    color: grey;
    margin: 0% 8.5% 0% 0%;
    text-decoration: none;
}

header {
    width: 55%;
    margin: 0 auto;
    display: flex;
}

.head-h1 {
    height: 50%;
    margin: 5% 24.4%;
    text-align: center;
}

.main-section {
    width: 55%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.middle-img {
    
}

.main-container {
    width: 40%;
}

.contact {
    width: 55%;
    margin: 0 auto;
    display: flex;
}

footer {
    width: 55%;
    margin: 0 auto;
}